{% include head.html %}

<body class="post-body">
    {% include header.html %}

    <div class="page-content">
      <a class="job-button" href="#modal">&lt;/We are hiring!&gt;</a>

      {% include style-switcher.html %}

      <div class="container is-post">

        <h1 class="title">
          {{ page.title }}
        </h1>

        {% include author-post.html %}

        {% if page.tagline %}
          <div class="tagline">
            {{ page.tagline }}
          </div>
          <hr>
        {% endif %}


        <div class="post">
          {{ content }}
        </div>

        {% include social-share.html %}
        {% include related-posts.html %}

      </div>
    </div>
    {% include footer-page.html %}

  {% include jobs-modal.html %}
  {% include site-scripts.html %}
  {% include analytics.html %}
</body>
</html>
