<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>
    {% if page.title %}
      {{ page.title }} {{ site.title-divider }} {{ site.sitename }}
    {% endif %}
    </title>

    {% include opengraph.html %}
    {% include twittercards.html %}

    <link rel="icon" type="image/x-icon" href="/favicon.png">
    
    <meta name="description" itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta name="author" itemprop="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.owner }}{% endif %}">

    {% if page.keywords %}
      <meta name="keywords" itemprop="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    {% endif %}

    <link rel="canonical" itemprop="url" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ "/feed.xml" | prepend: site.baseurl }}">

    {% if site.production == false %}
      <meta name="robots" content="NOINDEX, NOFOLLOW">
    {% endif %}



    <link id="app" rel="stylesheet" href="{{ '/assets/css/app.css' | prepend: site.baseurl }}">
    <script src="{{ '/assets/js/head.js' | prepend: site.baseurl }}"></script>

    <!--[if IE]><![endif]-->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--
              _____                    _____                    _____                    _____                    _____          
             /\    \                  /\    \                  /\    \                  /\    \                  /\    \         
            /::\    \                /::\    \                /::\____\                /::\    \                /::\    \        
            \:::\    \              /::::\    \              /::::|   |               /::::\    \              /::::\    \       
             \:::\    \            /::::::\    \            /:::::|   |              /::::::\    \            /::::::\    \      
              \:::\    \          /:::/\:::\    \          /::::::|   |             /:::/\:::\    \          /:::/\:::\    \     
               \:::\    \        /:::/__\:::\    \        /:::/|::|   |            /:::/__\:::\    \        /:::/__\:::\    \    
               /::::\    \      /::::\   \:::\    \      /:::/ |::|   |           /::::\   \:::\    \      /::::\   \:::\    \   
      _____   /::::::\    \    /::::::\   \:::\    \    /:::/  |::|___|______    /::::::\   \:::\    \    /::::::\   \:::\    \  
     /\    \ /:::/\:::\    \  /:::/\:::\   \:::\    \  /:::/   |::::::::\    \  /:::/\:::\   \:::\____\  /:::/\:::\   \:::\____\ 
    /::\    /:::/  \:::\____\/:::/  \:::\   \:::\____\/:::/    |:::::::::\____\/:::/  \:::\   \:::|    |/:::/  \:::\   \:::|    |
    \:::\  /:::/    \::/    /\::/    \:::\  /:::/    /\::/    / ~~~~~/:::/    /\::/    \:::\  /:::|____|\::/    \:::\  /:::|____|
     \:::\/:::/    / \/____/  \/____/ \:::\/:::/    /  \/____/      /:::/    /  \/_____/\:::\/:::/    /  \/_____/\:::\/:::/    / 
      \::::::/    /                    \::::::/    /               /:::/    /            \::::::/    /            \::::::/    /  
       \::::/    /                      \::::/    /               /:::/    /              \::::/    /              \::::/    /   
        \::/    /                       /:::/    /               /:::/    /                \::/____/                \::/____/    
         \/____/                       /:::/    /               /:::/    /                  ~~                       ~~          
                                      /:::/    /               /:::/    /                                                        
                                     /:::/    /               /:::/    /                                                         
                                     \::/    /                \::/    /                                                          
                                      \/____/                  \/____/                                                           

    Hey! We constantly need smart, stubborn, passionate 
    technology lovers to join our team.
    
    Visit http://jampp.com/jobs.php
    -->
  </head>
