<div class="remodal-bg">
  <div class="remodal" data-remodal-id="modal">
  <span class="close-modal" data-remodal-action="close">x</span>
    <span class="modal-title">
      &lt;/We are hiring&gt;
    </span>
    {% highlight javascript linenos %}
    if ($you.lookingForAJob && $you.freakingGeek) {
        visit('jampp.com/jobs');
        mail('jobs@jampp.com');
        
        // Hey! We constantly need smart, stubborn, passionate
        // technology lovers to join our team.
    }
    {% endhighlight %}
  </div>
</div>
