build/
.sass-cache
.jekyll-metadata
.ruby-gemset
.ruby-version
node_modules
.DS_Store
*/.DS_Store
_src/_bower_components
_src/_assets/pre-sprites
aws.json
_src/aws-upload.conf.js
aws-credentials.json
