---
layout: page
title: Archive
---

<div class="archive">
{% for post in site.posts %}
  	{% assign currentyear = post.date | date: "%Y" %}
  	{% assign currentmonth = post.date | date: "%B" %}
  	
  	{% if currentyear != year %}
    	{% assign year = currentyear %} 
		<h3>{{ currentyear }}</h4>
	{% endif %}
  	
	<!--{% if currentmonth != month %}
	    {% assign month = currentmonth %} 
    	<h5>{{ currentmonth }} <span data-count="monthly"></span></h5>
  	{% endif %}-->
	  	
		<div class="small">
			{{ post.date | date: '%b %d' }} - <a href="{{ post.url }}"> {{ post.title }}</a>
		</div>
{% endfor %}
</div>