%svg-common {
  background: url("#{$spritePath}") no-repeat;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 0 0;
  &.w-dims {
    width: 11px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-facebook-active {
	@extend %svg-common;
	background-position: 0 4.175824175824176%;
  &.w-dims {
    width: 11px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-facebook-social {
	@extend %svg-common;
	background-position: 0 8.351648351648352%;
  &.w-dims {
    width: 11px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-facebook-social-active {
	@extend %svg-common;
	background-position: 0 12.527472527472527%;
  &.w-dims {
    width: 11px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-icon-dots {
	@extend %svg-common;
	background-position: 0 16.740088105726873%;
  &.w-dims {
    width: 6px;
  	height: 20px;
    display: inline-block;
  }
}


.svg-icon-geek {
	@extend %svg-common;
	background-position: 0 21.00656455142232%;
  &.w-dims {
    width: 17px;
  	height: 17px;
    display: inline-block;
  }
}


.svg-icon-play {
	@extend %svg-common;
	background-position: 0 30.376344086021504%;
  &.w-dims {
    width: 102px;
  	height: 102px;
    display: inline-block;
  }
}


.svg-icon-search {
	@extend %svg-common;
	background-position: 0 47.252747252747255%;
  &.w-dims {
    width: 19px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-linkedin {
	@extend %svg-common;
	background-position: 0 51.42857142857143%;
  &.w-dims {
    width: 21px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-linkedin-active {
	@extend %svg-common;
	background-position: 0 55.604395604395606%;
  &.w-dims {
    width: 21px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-linkedin-social {
	@extend %svg-common;
	background-position: 0 59.78021978021978%;
  &.w-dims {
    width: 21px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-linkedin-social-active {
	@extend %svg-common;
	background-position: 0 63.956043956043956%;
  &.w-dims {
    width: 21px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-logo {
	@extend %svg-common;
	background-position: 0 69.97742663656885%;
  &.w-dims {
    width: 314px;
  	height: 31px;
    display: inline-block;
  }
}


.svg-logo-mobile {
	@extend %svg-common;
	background-position: 0 76.97516930022573%;
  &.w-dims {
    width: 156px;
  	height: 31px;
    display: inline-block;
  }
}


.svg-switch {
	@extend %svg-common;
	background-position: 0 81.40043763676148%;
  &.w-dims {
    width: 17px;
  	height: 17px;
    display: inline-block;
  }
}


.svg-switch-active {
	@extend %svg-common;
	background-position: 0 85.12035010940919%;
  &.w-dims {
    width: 17px;
  	height: 17px;
    display: inline-block;
  }
}


.svg-twitter {
	@extend %svg-common;
	background-position: 0 88.8402625820569%;
  &.w-dims {
    width: 21px;
  	height: 17px;
    display: inline-block;
  }
}


.svg-twitter-active {
	@extend %svg-common;
	background-position: 0 92.5601750547046%;
  &.w-dims {
    width: 21px;
  	height: 17px;
    display: inline-block;
  }
}


.svg-twitter-social {
	@extend %svg-common;
	background-position: 0 96.2800875273523%;
  &.w-dims {
    width: 21px;
  	height: 17px;
    display: inline-block;
  }
}


.svg-twitter-social-active {
	@extend %svg-common;
	background-position: 0 100%;
  &.w-dims {
    width: 21px;
  	height: 17px;
    display: inline-block;
  }
}


