<div id="social">
	{% if site.footer-links.email %}<a class="icon email" href="mailto:{{ site.footer-links.email }}"></a>{% endif %}
	{% if site.footer-links.stackoverflow %}<a class="icon so" href="https://careers.stackoverflow.com/company/{{ site.footer-links.stackoverflow }}"></a>{% endif %}
	{% if site.footer-links.twitter %}<a class="icon tw" href="https://www.twitter.com/{{ site.footer-links.twitter }}"></a>{% endif %}
	{% if site.footer-links.linkedin %}<a class="icon in" href="https://www.linkedin.com/company/{{ site.footer-links.linkedin }}"></a>{% endif %}
	{% if site.footer-links.github %}<a class="icon gh" href="https://github.com/{{ site.footer-links.github }}"></a>{% endif %}
</div>