.page-content
  padding: 2em 0

  .post-list
    margin-top: 1em
    li
      border-bottom: 1px solid $separation-color
      margin-bottom: 2em
      @media #{$breakpoint}
        margin-bottom: 3em
      &:last-child
        border-bottom: 0

  .post-link
    margin-bottom: 1em
    a
      color: $text-main
      text-transform: uppercase

  .excerpt
    margin-bottom: .5em
    font-family: AleoLight
    font-size: 16px
    color: $text-main

    p
      font-family: 'AleoLight'
      line-height: 24px

  .read
    color: $link-alt
    font-family: GothamMedium

  .time
    text-transform: uppercase
    margin-top: 1em

  .meta
    padding: 2em 0 1em 0
    margin-bottom: 1em

  .author-data
    color: $link-alt
    font-size: 13px

  .post-date
    font-size: 13px
    color: $text-secondary

  .author-image
    float: left
    img
      width: 30px
      height: 30px
      border-radius: 1000em
      margin-right: .5em

  .featured-image
    margin-bottom: 2em
