.is-post
  max-width: 660px

.post-body
  .tagline
    font-size: 16px
    color: #B4B4B4
    line-height: 30px
    padding-bottom: 1em

  .title
    @extend .h1
    margin-bottom: .5em

  .meta
    padding: 0
    font-family: Lekton
    font-size: 14px
    color: $body-color
    line-height: 22px
    margin-bottom: 1em
    a
      color: $body-color
      border-bottom: 1px dotted $body-color
    h3
      display: inline-block

  .author-image
    img
      width: 25px
      height: 25px
      vertical-align: middle
      border-radius: 1000em
      margin-right: .5em


  .post
    p, strong, ul, ol
      color: $text-secondary
    a
      color: $brand-color
      border-bottom: 1px dotted $brand-color
      &:hover
        border-bottom: 1px solid
    h2, h3, h4, h5
      margin-bottom: .75em


    ol, ul
      list-style: outside none none
      padding: 0
      margin-bottom: 1em
      font-size: 16px
      letter-spacing: 0.3px
      font-family: Yantramanav
      font-weight: 300
      li
        line-height: 30px
        &:before
          content: "•"
          font-size: 18px
          padding-right: .5em

    dl
      counter-reset: counter
      color: $text-secondary
      dd
        font-size: 16px
        margin-bottom: 1em
        line-height: 30px
      dt
        font-size: 20px
        line-height: 28px
        margin-bottom: 1em
        font-family: Yantramanav
        &:before
          padding-right: .5em
          color: $text-secondary
      dt:before
        content: counter(counter)
        counter-increment: counter


.highlight
  font-size: 14px
  color: #FFFFFF
  letter-spacing: 0.4px
  line-height: 21px
  margin-bottom: 1em
  border: 1px solid #FF9D00
  padding: 1em
  background: $text-main
  pre
    background: $text-main
    border: none


.related
  padding: 2em 0
  @media #{$breakpoint}
    padding: 2em 0 4em
  li
    border-top: 1px dotted $body-color
    padding: 1em 0
  a
    font-family: Lekton
    color: $text-main
    font-size: 16px
    line-height: 30px
    @media #{$breakpoint}
      line-height: 30px
      font-size: 21px
    &:hover
      text-decoration: underline
  h4
    font-family: Yantramanav
    font-weight: 500
    font-size: 12px
    color: $body-color
    letter-spacing: 1px
    text-transform: uppercase
    line-height: 15px
    padding-bottom: 1em



.page-content
  .style-switcher
    margin-left: 2%
    position: absolute
    left: 20px
    top: 0
    @media #{$breakpoint}
      margin-left: 10%
      position: fixed
      top: inherit
      left: inherit
    .svg-switch:hover
      @extend .svg-switch-active
    #original
      display: none

.page-content.home
  .style-switcher
    @media #{$breakpoint}
      margin-left: -10%

.job-button
  background: #88C425
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75)
  font-family: Lekton
  font-size: 14px
  color: #FFFFFF
  line-height: 16px
  padding: .5em 1em
  position: absolute
  top: 50%
  right: 0
  transform: translate(0, -50%)
  z-index: 1
  &:hover
    color: #fff
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.50)
