.share-page
  display: table
  padding: 2em 0
  @media #{$breakpoint}
    padding: 5em 0
  a
    padding-left: 2em
    color: $brand-color
    display: table-cell
    .w-dims
      margin-top: -2px
    &:first-child
      padding-left: 0
    &:hover
      .svg-twitter-social
        @extend .svg-twitter-social-active
      .svg-facebook-social
        @extend .svg-facebook-social-active
      .svg-linkedin-social
        @extend .svg-linkedin-social-active
    &.linkedin:hover
      color: #0274B3
    &.facebook:hover
      color: #3A579D
    &.twitter:hover
      color: #5EA9DD
  .text
    border-bottom: 1px dotted
    text-transform: uppercase
    font-weight: 500
    font-size: 11px
    letter-spacing: 1px
    line-height: 15px

  .w-dims
    vertical-align: middle
