%svg-common {
  background: url("#{$spritePath}") no-repeat;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 0 0;
  &.w-dims {
    width: 11px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-facebook-active {
	@extend %svg-common;
	background-position: 0 3.885480572597137%;
  &.w-dims {
    width: 11px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-facebook-social {
	@extend %svg-common;
	background-position: 0 7.770961145194274%;
  &.w-dims {
    width: 11px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-facebook-social-active {
	@extend %svg-common;
	background-position: 0 11.656441717791411%;
  &.w-dims {
    width: 11px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-github {
	@extend %svg-common;
	background-position: 0 15.510204081632653%;
  &.w-dims {
    width: 18px;
  	height: 18px;
    display: inline-block;
  }
}


.svg-github-active {
	@extend %svg-common;
	background-position: 0 19.183673469387756%;
  &.w-dims {
    width: 18px;
  	height: 18px;
    display: inline-block;
  }
}


.svg-icon-dots {
	@extend %svg-common;
	background-position: 0 22.950819672131146%;
  &.w-dims {
    width: 6px;
  	height: 20px;
    display: inline-block;
  }
}


.svg-icon-geek {
	@extend %svg-common;
	background-position: 0 26.883910386965375%;
  &.w-dims {
    width: 17px;
  	height: 17px;
    display: inline-block;
  }
}


.svg-icon-play {
	@extend %svg-common;
	background-position: 0 36.69950738916256%;
  &.w-dims {
    width: 102px;
  	height: 102px;
    display: inline-block;
  }
}


.svg-icon-search {
	@extend %svg-common;
	background-position: 0 51.329243353783234%;
  &.w-dims {
    width: 19px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-linkedin {
	@extend %svg-common;
	background-position: 0 55.214723926380366%;
  &.w-dims {
    width: 21px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-linkedin-active {
	@extend %svg-common;
	background-position: 0 59.100204498977504%;
  &.w-dims {
    width: 21px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-linkedin-social {
	@extend %svg-common;
	background-position: 0 62.98568507157464%;
  &.w-dims {
    width: 21px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-linkedin-social-active {
	@extend %svg-common;
	background-position: 0 66.87116564417178%;
  &.w-dims {
    width: 21px;
  	height: 19px;
    display: inline-block;
  }
}


.svg-logo {
	@extend %svg-common;
	background-position: 0 72.38493723849372%;
  &.w-dims {
    width: 305px;
  	height: 30px;
    display: inline-block;
  }
}


.svg-logo-mobile {
	@extend %svg-common;
	background-position: 0 78.66108786610879%;
  &.w-dims {
    width: 150px;
  	height: 30px;
    display: inline-block;
  }
}


.svg-switch {
	@extend %svg-common;
	background-position: 0 82.68839103869654%;
  &.w-dims {
    width: 17px;
  	height: 17px;
    display: inline-block;
  }
}


.svg-switch-active {
	@extend %svg-common;
	background-position: 0 86.15071283095723%;
  &.w-dims {
    width: 17px;
  	height: 17px;
    display: inline-block;
  }
}


.svg-twitter {
	@extend %svg-common;
	background-position: 0 89.61303462321793%;
  &.w-dims {
    width: 21px;
  	height: 17px;
    display: inline-block;
  }
}


.svg-twitter-active {
	@extend %svg-common;
	background-position: 0 93.07535641547861%;
  &.w-dims {
    width: 21px;
  	height: 17px;
    display: inline-block;
  }
}


.svg-twitter-social {
	@extend %svg-common;
	background-position: 0 96.5376782077393%;
  &.w-dims {
    width: 21px;
  	height: 17px;
    display: inline-block;
  }
}


.svg-twitter-social-active {
	@extend %svg-common;
	background-position: 0 100%;
  &.w-dims {
    width: 21px;
  	height: 17px;
    display: inline-block;
  }
}


